<p>create-paper works!</p>

<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Create Paper</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="paperForm" (ngSubmit)="onSubmit()" class="login-form">
        <mat-form-field appearance="outline">
          <mat-label>Titulo</mat-label>
          <input type="text" matInput formControlName="title" placeholder="Nombre del articulo">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Abstract</mat-label>
          <input type="text" matInput formControlName="abstract">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>DOI</mat-label>
          <input type="text" matInput formControlName="doi">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="paperForm.invalid">Registrar</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
