<div class="form-container">
    <h2>{{ isEdit ? 'Editar Comic' : 'Crear Comic' }}</h2>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input id="nombre" type="text" formControlName="nombre">
        <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched" class="error">
          El nombre es requerido
        </div>
      </div>
      
      <div class="form-group">
        <label for="autor">Autor:</label>
        <input id="autor" type="text" formControlName="autor">
        <div *ngIf="form.get('autor')?.invalid && form.get('autor')?.touched" class="error">
          El nombre del autor es requerido
        </div>
      </div>
      
      <div class="form-group">
        <label for="fecha_lanzamiento">Fecha de lanzamiento:</label>
        <input id="fecha_lanzamiento" type="date" formControlName="fecha_lanzamiento">
        <div *ngIf="form.get('fecha_lanzamiento')?.invalid && form.get('fecha_lanzamiento')?.touched" class="error">
          La fecha de lanzamiento es requerida
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" [disabled]="form.invalid" class="btn-submit">
          {{ isEdit ? 'Actualizar' : 'Crear' }}
        </button>
        <button type="button" (click)="router.navigate(['/main/comics'])" class="btn-cancel">
          Cancelar
        </button>
      </div>
    </form>
  </div>