<div class="form-container">
    <h2>{{ isEdit ? 'Editar Pelicula' : 'Crear Pelicula' }}</h2>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titulo">Titulo:</label>
        <input id="titulo" type="text" formControlName="titulo">
        <div *ngIf="form.get('titulo')?.invalid && form.get('titulo')?.touched" class="error">
          El titulo es requerido
        </div>
      </div>
      
      <div class="form-group">
        <label for="anio">Año:</label>
        <input id="anio" type="number" formControlName="anio">
        <div *ngIf="form.get('anio')?.invalid && form.get('anio')?.touched" class="error">
          El año de de lanzamiento es necesario
        </div>
      </div>
      
      <div class="form-group">
        <label for="duracion">Duración (en minutos):</label>
        <input id="duracion" type="number" formControlName="duracion">
        <div *ngIf="form.get('duracion')?.invalid && form.get('duracion')?.touched" class="error">
          La duración de la pelicula es requerida
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" [disabled]="form.invalid" class="btn-submit">
          {{ isEdit ? 'Actualizar' : 'Crear' }}
        </button>
        <button type="button" (click)="router.navigate(['/main/comics'])" class="btn-cancel">
          Cancelar
        </button>
      </div>
    </form>
  </div>